<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <div>
        <p>uh yes how are you doing</p>
        <input type="text" name="puissance" value="{{system.puissance}}" data-dtype="Number"/>
        <select name="type-unité" value="{{system.type.valeur}}" >
        {{#each system.type.texte as |txt key|}}
            <option value="{{key}}">{{txt}}</option>
        {{/each}}
        </select>
    </div>
</form>